<!doctype html>
<html>
    <head>
        <title>{% block title %}WEBSITE{% endblock %}</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css.css')}}">
    </head>
    <body>

    <h1 align="center" id="main-header">W E L C O M E</h1><hr>
    <nav>
        {% if current_user.is_authenticated %}
        <span class="link" onclick="redirectToLogOut()">Log out</span>&nbsp;
        {% else %}
        <span class="link" onclick="redirectToLogIn()">Log in</span>&nbsp;
        <span class="link" onclick="redirectToSignUp()">Sign up</span>&nbsp;
        {% endif %}
        <span class="link" onclick="redirectToAbout()">About</span>&nbsp;
        <button class="btn-dark-mode" onclick="darkMode()">Dark mode</a>
    </nav><hr>
    
    <div>
    {% with msgs = get_flashed_messages(with_categories=true) %}
    {% if msgs %}{% for category, msg in msgs %}
    {{ msg }}
    {% endfor %}{% endif %}
    {% endwith %}
    </div>

    <div>
    {% block content %}
    {% endblock %}
    </div>

    <script src="{{url_for('static', filename='js.js')}}"></script>
    </body>
</html>