<!doctype html>
<html>
    <head>
        <title>{% block title %}WEBSITE{% endblock %}</title>
    </head>
    <body>

    <h1 align="center"><a href="/">W E L C O M E ʕ •́؈•̀) </a></h1>
    <nav style="font-size:larger">
        {% if current_user.is_authenticated %}
        <a href="{{url_for('auth.log_out')}}">Log out</a>
        {% else %}
        <a href="{{url_for('auth.log_in')}}">Log in</a>
        <a href="{{url_for('auth.sign_up')}}">Sign up</a>
        {% endif %}
        <a href="{{url_for('views.about')}}">About</a>
    </nav>
    
    <div>
    {% with msgs = get_flashed_messages(with_categories=true) %}
    {% if msgs %}{% for category, msg in msgs %}
    {{ msg }}
    {% endfor %}{% endif %}
    {% endwith %}
    </div>

    <div>
    {% block content %}
    {% endblock %}
    </div>
    </body>
</html>