{% extends 'base.html' %}
{% block title %}WELCOME{% endblock %}
{% block content %}

<ol>
{% for topic in topics %}
<li><a href="/read/{{ topic['id'] }}/">{{ topic["title"] }}</a></li>
{% endfor %}
</ol>
<h2>Welcome{% if current_user.is_authenticated %}, {{current_user.name}} {% endif %} </h2>

{# Create Post (Only if Logged in) #}
<div>
{% if current_user.is_authenticated %}
<form method="POST">
    <label><textarea name="post-text-area" class="text-area" required></textarea></label>
    <button class="btn-post" type="submit">Post</button>
</form>
{% else %}
<p>You can create a post if you log in.</p>
{% endif %}
</div>

{# Display User's Post #}
<div>
<h3>Posts:</h3>
{% if posts != None %}
<span>
    {% for post in posts %}
    <div class='post-wrapper'>
        <p class='post-text'>{{ post.text }}</p>
        Posted on {{ post.date }} By {{ post.author.name }}<br><br>
        {% if current_user.is_authenticated %}{% if current_user.id == post.author.id %}
        <div id="update-form-{{post.id}}"></div>
        <button type="button" onclick="showUpdateForm({{post.id}})">Edit</button>
        <button type="button" onclick="deletePost({{post.id}})">Remove</button>
        {% endif %}{% endif %}
    </div><br>
    {% endfor %}
</span>
{% else %}
<h4>No posts to display</h4>
{% endif %}
</div>

<img src="{{url_for('static', filename='shiba.jpg')}}" alt="shiba inu">
{% endblock %}