* {
    font-family: Helvetica, Arial, sans-serif;
}

body {
    padding: 1rem;
    position: relative;
}

hr {

}

nav {
    font-size: larger;
    position: relative;
    padding: 0.4rem;
}

.link {
    text-decoration: none;
}
.link:hover{
    text-decoration: underline;
    cursor: pointer;
}

.btn-dark-mode{
    position: absolute;
    right: 0;
}

.text-area{
    width: 16rem;
    height: 6rem;
    border-radius: 5px;
}

button{
    padding: 5px;
    cursor: pointer;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem,auto)); /* Fit 25rem columns then stretch to fill the whole width */
    grid-auto-rows: minmax(15rem, auto); /* Each row is 15rem but can grow as the content gets bigger */
    gap: 1rem;
}

.post-wrapper {
    border-style: solid;
    border-width: thin;
    border-radius: 5px;
    padding: 1rem; 
    box-shadow: 5px 5px 5px lightgrey;
}

.post-text {
    white-space: pre-line;
}
